@import 'vars';
@import 'global';
@import 'fonts';

.header__top{
    height: 100px;
    background-color: #eef1f3;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__logo{
    font-size: 30px;
    
}

.header__logo-img{
    position: relative;
    display: inline-block;
}

.header__logo-text{
    font-weight: 700;
    margin-left: 5px;
    top:36px;
    position: absolute;
    display: inline-block;
    color:#0674ec;
    span{
        color:#000;
    }
}

.header__btn{
   margin-left: auto;
   padding: 14px 18px;
   background-color: #0674ec;
   border-radius: 30px;

   a{
      color:#fff;
      font-weight: 500;
      font-size: 14px;
   }
}

.header__icons{
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.header__icon{
    font-size: 20px;
    position: relative;
    

    & + .header__icon{
         margin-left: 33px;
    }
    span{
        position: absolute;
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color:#fff;
        line-height: 1;
        padding: 7px;
        top:-20px;
        left: 16px;
        
    }
}

.header__icon-alarm span{
    background-color: #ff6a6c;
    border-radius: 50%;
    left: 9px;
}

.header__icon-mail span{
    background-color: #62d03b;
    border-radius: 50%;
    
}

.header__icon-cart span{
    background-color: #0674ec;
    border-radius: 50%;
    
}

.header__cart{
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2585ed;
    

    
}

.header__cart-box{
    border-radius: 50%;
    padding: 25px 25px;
    background-color: #7c7979;
    display: inline-block;
    margin-right: 22px;
    align-items: center;
}



.header__cart-text{
    display: inline-block;
    
    span{
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color:#3f4040;
      align-items: center;
    }
}

.header__bottom-inner{
    display: flex;
    height: 80px;
    align-items: center;
}

.header__menu ul{
    display:flex;
    
    li a{
    margin-right: 35px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color:#414141;
    }
}

.header__search{
    margin-left:auto;
    input{
        width: 360px;
        height: 45px;
        border:1px solid #d9dfe5;
        border-radius: 20px;
        padding-left: 25px;
        color:#d9dfe5;
        font-weight: 400;
        font-size: 15px;
        position: relative;
    }
    button{
        position: absolute;
        width: 70px;
        height: 45px;
        background-color: #0674ec;
        border-radius: 20px;
        border: none;
        right:70px;
        color:#fff;
        font-size: 15px;
    }
}

.onewindow{
    background-color: #2b4dd0;
    min-height: 725px;
}

.onewindow__inner{
    text-align: center;
    padding-top: 185px;
    position: relative;
}

.onewindow__inner-title{
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color:#fff;
    span{
        font-weight: 400;
    }
}

.onewindow__inner-description{
    font-size: 20px;
    font-weight: 500;
    line-height: 72px;
    color:#fff;
}

.onewindow__inner-btns{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 167px;
    .btn {
        width: 190px;
       
        border-radius: 50px;
        padding: 20px 30px;
    }
    .btn-one{
            background-color: #fff;
            
            margin-right: 30px;

        }
    .btn-one a{
        font-size: 16px;
        font-weight: 400;
        color:#6aacf4;
        line-height: 1;
    }
    .btn-two{
            border:1px solid #fff;
            

        }
    .btn-two a{
        font-size: 16px;
        font-weight: 400;
        color:#fff;
        line-height: 1;
    }
    
}

.onewindow__inner-rectangle1{
    position: absolute;
    max-width: 1120px;
    width: 100%;
    height: 135px;
    border-radius: 5px;
    background-color: #fff;
    bottom:-250px;
    left:10px;
    padding: 0;
    opacity: 0.502;
}

.onewindow__inner-rectangle2{
    position: absolute;
    max-width: 1100px;
    width: 100%;
    height: 135px;
    border-radius: 5px;
    background-color: #fff;
    bottom:-240px;
    left:20px;
    padding: 0;
    opacity: 0.502;
}

.onewindow__inner-search{
    position: absolute;
    max-width: 1140px;
    width: 100%;
    height: 135px;
    border-radius: 5px;
    background-color: #fff;
    bottom:-260px;
    padding: 0;
    font-size: 16px;
    color:#676767;
    input{
        border:1px solid #dcdcdc;
        max-width: 808px;
        width: 100%;
        height: 57px;
        margin: 40px 0 40px 42px;
        padding-left: 28px;
        position: relative;
        border-radius: 5px;

    }
    button{
         height: 57px;
         max-width: 220px;
         width: 100%;
         background-color: #0674ec;
         color:#fff;
         border:none;
         border-radius: 5px;
         margin-right: 40px;
    }
    
}

.search-categories{
    position: absolute;
    left:720px;
    top:57px;
}

.features__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
    margin-bottom: 121px;
}

.features__inner-item{
    max-width: 360px;
    width: 100%;
    text-align: center;
    padding: 40px 30px;
}

.features__inner-shadow{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.features__inner-title{
    margin: 40px 0 35px 0;
    font-size: 24px;
    font-weight: 400;
    color:black;
}

.features__inner-text{
    font-size: 16px;
    line-height: 30px;
}

.weekly-slider{
    background-color: #eff1f5;
    padding: 120px 0;
}

.weekly-slider__title{
     background-color: #fff;
     padding: 45px 30px;
}

.weekly-slider__item{
    display: flex;
    margin-top: 50px;
}

.weekly-slider__item-inner{
    display: flex;
}

.weekly-slider__item-img{
    background-color: #b1b1b1;
    max-width: 555px;
    width: 100%;
    min-height: 450px;
    // height: 100%;
    display: inline-block;
}

.weekly-slider__item-description{
    padding: 40px 40px 25px 50px;
    max-width: 570px;
    width: 100%;
    background-color: #fff;
    display: inline-block;
}

.weekly-slider__item-title{
    font-size: 24px;
    font-weight: 500;
    color:black;
}

.weekly-slider__item-plugin{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

.weekly-slider__item-box{
    margin-right: 20px;
    display: flex;
    align-items: center;

}

.weekly-slider__item-icon{
    border-radius: 50%;
    background-color: #7347c1 ;
    // display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.box__icon{
    align-items: center;
    background-color: #fff;
    position: relative;
    img{
        position: absolute;
        top: 8px;
        left: 8px;
    }
}

.box__text{
    font-size: 15px;
    font-weight: 400;
}

.box__text-color{
    color:#7347c1;
}

.weekly-slider__item-text{
    font-size: 16px;
    font-weight: 400;
    color:#555555;
    margin-bottom: 40px;
}

.weekly-slider__item-a{
    margin-bottom: 45px;
    a{
        padding: 10px 15px;
        background-color: #f1f3f6;
        color:#555555;
        border-radius: 20px;
        margin-right: 7px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
    }
}

.weekly-slider__item-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    padding-top: 25px;
}

.bottom__item{
    display: flex;
}

.bottom__price{
    color:#fff;
    background-color: #0674ec;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 20px;
    line-height: 1;
    margin-right: 18px;
}

.bottom__like{
    padding-top: 8px;
    margin-right: 18px;
}

.fa-heart{
    color:#7c53c5;
}

.bottom__cart{
    color:#0674ec;
    padding-top: 8px;
}

.weekly-slider__title-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.weekly-slider__box{
    margin-right: 30px;
    width: 110px;
    height: 45px;
    border-radius: 40px;
    background-color: #7347c1;
    position: relative;
}

.slick-prev{
    color:#fff;
    position: absolute;
    top:15px;
    left: 37px;

}

.slick-next{
    color:#fff;
    position: absolute;
    top:15px;
    left: 67px;

}

.products{
    padding:120px 0px;
    background-color: #f6f7fb;
}

.products__title-inner{
    padding: 45px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 30px;
}

.products__inner-btn{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    button{
        padding: 10px 20px;
        background-color:#f1f3f6;
        border-radius: 20px;
        border: none;
    }
    button:hover{
        background-color: #0674ec;
        color:#fff;
        
    }
}

.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 30px;
}

.product__item{
    margin-bottom: 30px;

}

.product__item-img{
    max-width: 360px;
    min-height: 230px;
    background-color: #5f52bf;
    border-radius: 5px;
}

.product__item-img{
    position: relative;
}

.img__moved{
    display: none;
    position: absolute;
    top:80px;
    left:40px;
    .img__moved-info{
       color:#fff;
       padding: 20px 30px;
       border-radius: 40px;
       border: 1px solid #fff;
       margin-right: 10px;
       font-size: 15px;
       font-weight: 500;
    }
    .img__moved-demo{
        color:#0674ec;
        background-color: #fff;
        padding: 20px 30px;
        font-size: 15px;
       font-weight: 500;
       border-radius: 40px;
    }
}

.product__item-img:hover .img__moved{
    display:block;
}

.product__item-box{
    padding: 30px 28px 20px 30px;
    max-width: 360px;
    background-color:#fff;
}

.product__item-title{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
    color:black;
}

.product__item-name{
    display: flex;
    align-items: center;
}

.name__theme{
    margin-right: 27px;
    display: flex;
    align-items: center;
}

.name__theme-img{
    border-radius: 50%;
    background-color: #7347c1 ;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.name__plugin{
    display: flex;
    align-items: center;
}

.name__plugin-title{
    padding-left: 10px;
    color:#7347c1;
}

.product__item-text{
    margin-top: 35px;
    margin-bottom: 35px;
}

.product__item-bottom{
    border-top:1px solid #ececec;
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.product__item-price{
    color:#7db7f5;
    padding: 10px 18px;
    background-color: #e6f1fd;
    border-radius: 20px;
    margin-right: 20px;
}

.product__item-like{
    padding: 10px 0;
}

.product__item-cart{
    padding: 10px 18px;
    margin-left: auto;
}

.products__bottom-btn{
    text-align: center;
    margin-top: 30px;
    button{
       color:#fff;
       background-color: #0674ec;
       padding: 20px 30px;
       font-size: 16px;
       border-radius: 40px;
       border: none;
    }
}

.feed-slider{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #eff1f5;
}

.feed-slider__top{
    background-color: #fff;
    padding: 45px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-slider__top-arrow{
    margin-right: 30px;
    width: 110px;
    height: 45px;
    border-radius: 40px;
    background-color: #0674ec;
    position: relative;
}

.slick-prev{
    color:#fff;
    position: absolute;
    top:15px;
    left: 37px;

}

.slick-next{
    color:#fff;
    position: absolute;
    top:15px;
    left: 67px;

}

.feed-slider__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 30px;
}

//

.fact{
    background-color: #212225;
    padding-top: 100px;
    padding-bottom: 100px;
}

.fact__inner{
    display: flex;
    
}

.fact__inner-item{
    text-align: center;
    max-width: 265px;
    width: 100%;
    span{
       font-size: 36px;
       display: block;
       padding-top: 50px;
       padding-bottom: 20px;
    }
}

.fact__inner-brief{
    color:#feb71d;
    font-size: 48px;
    display: block;
}

.inner__brief-number{
    color:#feb71d;
    
}

.fact__inner-cloud{
    color:#58c9e9;
    font-size: 48px;
    display: block;
}

.inner__cloud-number{
    color:#58c9e9;
}

.fact__inner-smile{
    color:#77de51;
    font-size: 48px;
    display: block;
}

.inner__smile-number{
    color:#77de51;
}

.fact__inner-user{
    color:#894447;
    font-size: 48px;
    display: block;
}

.inner__user-number{
    color:#894447;
}

//

.choose{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #eff1f5;
}

.choose__title{
    text-align: center;
    padding-bottom: 40px;
    span{
        color:#177ded;
    }
}

.choose__text{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    max-width: 677px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.choose__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choose__inner-item{
   max-width: 360px;
   min-height: 375px;
   background-color:#fff;
   margin-bottom: 30px;
}

.choose__item-number{
    font-size: 48px;
    line-height: 48px;
    padding-left: 20px;
    padding-top: 18px;
}

.choose__item-img{
    margin: 0 auto;
    text-align: center;
}

.choose__item-title{
    text-align: center;
    font-size: 24px;
    padding-top: 55px;
    padding-bottom: 35px;

}

.choose__item-text{
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 60px;
    text-align: center;
}

//

.sell-buy__item{
    max-width: 960px;
    width: 100%;
    min-height: 560px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
    background-image: url(../images/sell-buy/bg-1.jpg);
    color:#fff;
}

.sell-buy__item-title{
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 35px;

}

.sell-buy__item-text{
    padding-left: 190px;
    padding-right: 190px;
    padding-bottom: 50px;
}

.sell-buy__item-btn{
    a{
        padding: 20px 30px;
        border-radius: 40px;
        background-color: #fff;
        color:#3890f0;
    }
}

// end sell-buy

//start

.testimonial{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #eff1f5;
}

.testimonial__title{
    text-align: center;
    padding-bottom: 35px;
    span{
        color:#3890f0;
    }
}

.testimonial__text{
    max-width: 675px;
    padding-bottom: 65px;
    line-height: 30px;
    text-align: center;
    margin:0 auto;
}

.testimonial__inner{
    display: flex;
    justify-content: space-between;
}

.testimonial__item{
    max-width: 555px;
    min-height: 315px;
    background-color: #fff;
    padding: 50px 40px;
}

.testimonial__item-top{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.testimonial__item-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #808080;
    margin-right: 20px;
}

.testimonial__item-name{
    font-size: 20px;
    color: #000;
    padding-bottom: 15px;
    line-height: 1;
}

.testimonial__item-bubble{
    margin-left: auto;
    font-size: 60px;
    color:#e8e8e8;
}

.testimonial__btn{
    margin-top: 60px;
    text-align: center;
    a{
        border-radius: 50px;
        background-color: #0674ec;
        color:#fff;
        padding: 25px 35px;
    }
}

.latest-news{
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;

}

.latest-news__title{
    text-align: center;
    padding-bottom: 35px;
    span{
        color:#0674ec;
    }
}

.latest-news__text{
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
    padding-bottom: 60px;
}

.latest-news__inner{
    display: flex;
    justify-content: space-between;
}

.latest-news__item{
   max-width: 360px;
   min-height: 475px;
}

.latest-news__item-img{
    max-width: 360px;
    min-height: 230px;
    background-color: #7385cd;
}

.latest-news__item-box{
    background-color: #fff;
    padding: 35px 0 25px 35px;
    
}

.latest-news__item-title{
    color:#000;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 35px;
}

.latest-news__item-text{
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
    padding-right: 40px;
}

.latest-news__item-bottom{
    padding: 23px 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-clock{
    color:#0674ec;
}

// end

//

.money-support{
    background-color: #fff;
    padding-top: 60px;
    border-bottom: 60px;
    min-height: 300px;
}

.money-support__inner{
    display: flex;
    justify-content: space-between;
}

.money-support__item{
    max-width: 575px;
    
    text-align: center;
}

.money-support__item-img{
    margin:0 auto;
    padding-bottom: 35px;
}

.money-support__item-title{
    font-size: 24px;
    span{
        color: #0674ec;
    }
}

//

.banner{
    background-image: url(../images/banner/bg-banner.jpg);
    min-height: 400px;
    text-align: center;
}

.banner__title{
    font-size: 36px;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 35px;

}

.banner__text{
    font-size: 18px;
    color: #fff;
}

.banner__btn{
    margin-top: 50px;
    margin-bottom: 110px;
    a{
        color:#8bbef6;
        background-color: #fff;
        padding: 22px 45px 22px 45px;
        border-radius: 40px;
    }
}

footer{
    background-color: #262b30;
    padding-top: 115px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;

}

.footer__item{
    margin-bottom: 125px;
    color:#fff;
    font-size: 15px;
    line-height: 28px;
}

.footer__item-one{
    max-width: 265px;
}

.footer__item-logo{
    padding-bottom: 35px;
    font-size: 24px;
    font-weight: 700;
    span{
        color:#0f61ba;
    }
}

.footer__item-text{
    padding-bottom: 35px;
}

.footer__item-phone{
    padding-bottom: 20px;
    a{
        color:#fff;
    }
}

.footer__item-mail{
    padding-bottom: 20px;
    a{
        color:#fff;
    }
}

.footer__item-four{
    max-width: 360px;
}

.footer__item-title{
    padding-bottom: 40px;
    font-size: 18px;

}

.footer__item-ul{
    a{
        color:#fff;
        font-size: 15px;
        line-height: 32px;
    }
}

.footer__item-form{
    padding-bottom: 50px;
    position: relative;
    input{
        max-width: 360px;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        border:none;
        position: relative;

    }
    ::placeholder{
           padding-left: 30px;
           
        }

    button{
        right:0;
        position: absolute;
        width: 110px;
        height: 50px;
        border-radius: 50px;
        border:none;
        background-color: #0674ec;
        color:#fff;
    }
}

.footer__bottom{
    background-color: #192027;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color:#fff;
}